* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    text-align: center;
    align-items: center;
    background-color: navy;
    color: white;
}

h1 {
    padding: 20px;
}

.weather-card {
    background-color: navy;
    color: white;
}

#weather-today-con {
    background-color: lightblue;
}